body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(157, 27, 168, 1) 0%, rgb(87, 2, 20) 50%, rgb(5, 5, 5) 100%);

    ;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar à esquerda */
.sidebar {
    background-color: black;
    padding: 20px;
    color: white;
    width: 250px;
    position: fixed;
    top: 0;
    left: -300px;
    /* escondida fora da tela */
    height: 100vh;
    transition: left 0.3s ease;
    z-index: 1000;
    border-radius: 0;
}

/* Quando ativada, desliza para a tela */
.sidebar.active {
    left: 0;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
    width: auto;
    /* acima da sidebar */
}

.cadastro {
    background-color: black;
    padding: 15px;
    margin-top: 200px;
    border-radius: 20px;
    border: none;
    width: 90%;
    max-width: 400px;
    color: white;
    text-align: center;
    box-sizing: border-box;

}

input {
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    color: black;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    color: whitesmoke;
    background-color: black;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    /* tom de cinza mais claro, por exemplo */
    color: #fff;
    border-color: #777;
    transition: all 0.3s ease;
}

.botao-cadastro {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    border: 1px solid whitesmoke;
    width: 90%;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.botao-cadastro:hover {
    background-color: #555;
    color: #fff;
    border-color: #777;
    transition: all 0.3s ease;
}
